.blogs{
    width: 200px;
    height: 40px;
    background-color: rgb(44, 43, 43);
    color: white;
    border-radius: 5px;
   padding: 10px 10px  ;
   margin: 10px 20px;

}
.table{
    margin-left: 280px;
}